{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f8f9fa; /* Set background color */
      color: #333; /* Set text color */
    }

    h1 {
      margin-bottom: 20px; /* Add spacing below heading */
      font-size: 2rem; /* Increase heading font size */
      text-align: center; /* Center align heading */
    }

    form {
      max-width: 400px; /* Limit form width for better readability */
      margin: 0 auto; /* Center align form horizontally */
      padding: 20px; /* Add padding to form */
      background-color: #fff; /* Set form background color */
      border-radius: 10px; /* Add rounded corners to form */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to form */
    }

    label {
      font-size: 1rem; /* Set label font size */
      display: block; /* Make label display block to ensure proper spacing */
      margin-bottom: 5px; /* Add spacing below label */
    }

    input[type='text'],
    input[type='password'] {
      width: 100%; /* Make input fields full width */
      padding: 10px; /* Add padding to input fields */
      margin-bottom: 15px; /* Add spacing below input fields */
      border: 1px solid #ccc; /* Add border to input fields */
      border-radius: 5px; /* Add rounded corners to input fields */
    }

    button[type='submit'] {
      width: 100%; /* Make button full width */
      padding: 10px; /* Add padding to button */
      background-color: black; /* Set button background color */
      color: #fff; /* Set button text color */
      border: none; /* Remove button border */
      border-radius: 5px; /* Add rounded corners to button */
      cursor: pointer; /* Add cursor pointer on hover */
    }

    button[type='submit']:hover {
      background-color: #36454F; /* Change button background color on hover */
    }
  </style>

  <h1>Enter your credentials</h1>
  <form action='/signin/' method='post'>
    {% csrf_token %}
    <label for='username'>Username:</label>
    <input type='text' id='username' name='username' placeholder='Enter your username' required><br>
    <label for='password1'>Password:</label>
    <input type='password' id='password1' name='password1' placeholder='Enter your password' required><br>

    <button type='submit'>Login</button>
  </form>
{% endblock %}
